#wrapper > #accordionSidebar
{
    background-color: rgba(34, 88, 166);
    /* background-color: rgba(34, 88, 166); */
}

#sidebarToggleTop > i
{
    color: rgba(34, 88, 166) !important;
}

#collapseLoaner > div > a:hover, #collapseCirculation > div > a:hover, #collapseOther > div > a:hover
{
    background-color: rgba(34, 88, 166);
    color: white;
}

.breadcrumb-item > a
{
    color: rgba(34, 88, 166) !important;
}



