

.carousel-item
{
    max-height: 97vh !important;
}

.carousel-item > img
{
    object-fit: cover !important;
}


.catalog-title, .catalog-title:hover,  .contact-title, .contact-title:hover
{
    background-color: rgba(34, 88, 166);
    color: white;
    border-radius: 0% !important;
    cursor:default;
}


#contact p > a
{
    color: rgba(34, 88, 166);
}

#contact
{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#catalog
{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error
{
    color: rgb(231, 63, 26);
}




